

<footer class=" rounded-lg shadow m-4 bg-black/20 backdrop-blur-lg w-full xl:w-[1120px] mx-auto mb-10">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm sm:text-center text-blue-400/90">© 2024 <a href="https://www.linkedin.com/in/andrea-rold%C3%A1n-ag%C3%BCero-9ba273a0/" class="hover:underline">Andrea Roldán Agüero</a>. Casi todos los derechos reservados.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-white/90 sm:mt-0">
        <li>
            <a href="#top" class="hover:underline me-4 md:me-6">Inicio</a>
        </li>
        <li>
            <a href="#estudios" class="hover:underline me-4 md:me-6">Estudios IT</a>
        </li>
        <li>
            <a href="#proyectos" class="hover:underline me-4 md:me-6">Proyectos</a>
        </li>
        <li>
            <a href="#sobre-mi" class="hover:underline me-4 md:me-6">Sobre mí</a>
        </li>
        <li>
            <a href="#contacto" class="hover:underline">Contacto</a>
        </li>
    </ul>
    </div>
</footer>
